._3LWZlK {
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
    
}
._2wzgFH ._1BLPMq
{
margin-top: 3px;
}

._1wB99o
{
height: 10px;
margin: -3px 0 0 2px;
}

.review_row
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-left: auto;
}
._2wzgFH .t-ZTKy
{
    line-height: 1.4;
    font-size: 14px;
    color:#212121;
    margin: 12px 0;
    overflow: hidden;
}
._2wzgFH ._1H-bmy
{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: collapse;
    display: none;
}
._2wzgFH ._2mcZGG
{
    font-size: 12px;
    color: #878787;
    padding: 0 6px 0 0; 
    /* margin-top: 4px; */
}

