

  .App {
      text-align: center;
  }

  .App-logo {
      height: 40vmin;
      pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
      .App-logo {
          animation: App-logo-spin infinite 20s linear;
      }
  }

  .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
  }

  .App-link {
      color: #61dafb;
  }

  @keyframes App-logo-spin {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
  }

  .ie-panel {
      display: none;
      background: #212121;

      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
  }



  html.ie-10 .ie-panel,
  html.lt-ie-10 .ie-panel {
      display: block;
  }



  .product-small {
      max-width: 10em;
  }

  ul {
      float: left;
  }



  ul li img {
      width: 130px;
      height: 130px;
  }

  ul li a::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 100%;
      left: 0;
      background: #FFFFFF;
      transition: transform 0.5s;
      transform: scaleX(0);
      transform-origin: right;
  }

  ul li a:hover {
      color: #FFFFFF;
  }

  ul li a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
  }

  .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
  }

  .small-img-col {
      flex-basis: 24%;
      cursor: pointer;
      margin-bottom: 10px;
      max-width: 8em;
  }

  #belownavbar {
      top: -40px;
  }

  .small-img {
      width: 100%;
      border: 1.5px solid #4E83F1;
  }

  .sproduct input {
      width: 50px;
      height: 40px;
      margin-top: 10px;
      font-size: 16px;
  }

  .sproduct {
      padding-bottom: 30px;
      padding-right: 20px;
  }

  .goog-te-banner-frame.skiptranslate {
      display: none !important;
  }

  .goog-logo-link {
      display: none !important;
  }

  html.ie-10 .ie-panel,
  html.lt-ie-10 .ie-panel {
      display: block;
  }

  .vertical {
      border-left: 2px solid white;
      height: 100%;
      position: absolute;
      left: -40%;
  }

  @media only screen and (min-device-width: 773px) and (max-device-width: 1399px) {
      .myclass {
          margin-bottom: 0;
      }
  }

  @media only screen and (min-width : 1400px) {
      .myclass {
          margin-bottom: 150px;
      }
  }

  #handle-view {
      margin-top: 80%;
      padding: 0 10px;
  }

  @media only screen and (min-width: 1200px) {
      #icon-view {
          display: none;
      }

      #handle-view {
          display: none;
      }

      #cart-size {
          display: none;
      }

      #icon-view-home {
          display: none;
      }

      #icon-view-more {
          display: none;
      }

  }

  iframe {
      display: none !important
  }

  @media only screen and (max-width: 1199px) {
      #cart-size-1 {
          display: none;
      }

      #home-tab {
          margin-right: 30px;
      }

      #more-tab {
          margin-right: 50px;
      }

      #icon-view-home {
          margin-left: 30px;
          margin-right: 20px;

      }

      #icon-view-more {
          margin-left: 30px;
          margin-right: 20px;
      }
  }

  #handle-view {
      font-size: 28px;
  }

  #cart-size {
      font-size: 28px;
  }

  #cart-size-1 {
      font-size: 35px;
  }

  .make-navbar {
      margin-right: 10%;
  }

  .ml-2,
  .mx-2 {
      margin-left: 1.5rem !important;
  }

  .hr-line {
      margin-top: 5px;
      width: 50%;
      float: left;
  }

  .hr-pro {
      width: 95%;
      float: left;
  }

  @media only screen and (min-device-width: 773px) and (max-device-width: 1399px) {
      .myclass {
          margin-bottom: 0;
      }
  }

  @media only screen and (min-width : 1400px) {
      .myclass {
          margin-bottom: 150px;
      }
  }

  #handle-view {
      margin-top: 80%;
      padding: 0 10px;
  }

  @media only screen and (min-width: 1200px) {
      #icon-view {
          display: none;
      }

      #handle-view {
          display: none;
      }

      #cart-size {
          display: none;
      }

      #icon-view-home {
          display: none;
      }

      #icon-view-more {
          display: none;
      }

  }

  @media only screen and (max-width: 1199px) {
      #cart-size-1 {
          display: none;
      }

      #home-tab {
          margin-right: 30px;
      }

      #more-tab {
          margin-right: 50px;
      }

      #icon-view-home {
          margin-left: 30px;
          margin-right: 20px;

      }

      #icon-view-more {
          margin-left: 30px;
          margin-right: 20px;
      }
  }

  #handle-view {
      font-size: 28px;
  }

  #cart-size {
      font-size: 28px;
  }

  #cart-size-1 {
      font-size: 35px;
  }

  .make-navbar {
      margin-right: 10%;
  }

  .ml-2,
  .mx-2 {
      margin-left: 1.5rem !important;
  }

  @media (min-width: 1200px) {
      #nav-laptop {
          margin-left: 12%;
      }
  }

  .add-xs {

      border-radius: 50%;
      background-color: #0accbe;
      color: white;
      font-size: 40%;
      padding: .6px;
      bottom: 60%;
      left: 50%;
      line-height: 20px;
      min-width: 20px;
      text-align: center;
      position: absolute;
      background: #0accbe;
      font-weight: bold;

  }